/* GENERAL STYLING */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}

/* NAVBAR STYLING */
.navbar {
	z-index: 2;
	box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
	background-color: #fbbc04;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
}

.navbar .content {
	padding: 0.4rem 0.4rem 0.2rem 0.4rem;
	width: min(100%, 700px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-and-location .title {
	margin: -7px;
	color: #fff;
	font-size: 1.4rem;
	text-align: center;
}

.title-and-location .location {
	color: #fff;
	text-align: center;
	margin-top: 2px;
}

.add-div,
.trash-toggle-div {
	display: grid;
	place-content: center;
	width: 5%;
}

.add-div > .fa-file-circle-plus.disabled {
	color: #ccc;
	cursor: not-allowed;
}

.add-div > .fa-file-circle-plus,
.trash-toggle-div > .fa-trash,
.trash-toggle-div > .fa-note-sticky {
	font-size: 1.5rem;
	color: #fff;
	transition: color 0.5s, transform 0.5s;
}

.fa-file-circle-plus:not(.disabled):hover,
.trash-toggle-div > .fa-trash:hover,
.trash-toggle-div > .fa-note-sticky:hover {
	cursor: pointer;
	transform: scale(1.1);
}

button.disabled,
.fa-pencil-alt.disabled {
	cursor: not-allowed !important;
	color: #ccc;
	border-color: #ccc;
}

/* MAIN CONTENT STYLING */
main {
	padding: 75px 30px 30px 30px;
	min-height: 100vh;
	display: grid;
	justify-content: center;
}

.container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	gap: 25px;
	width: min(100vw, 890px);
}

.no-notes,
.no-trashed-notes {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.no-trashed-notes {
	display: none;
}

.no-notes-text,
.no-trashed-notes-text {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: #999;
}

.no-notes > .add-div > .fa-file-circle-plus {
	font-size: 1.8rem;
	color: #999;
	transition: color 0.5s, transform 0.5s;
}

.no-notes > .add-div > .fa-file-circle-plus:hover {
	color: #fbbc04;
	transform: scale(1.1);
	transform: rotate(10deg);
}

.add-one {
	text-align: center;
	font-size: 1.3rem;
	color: #999;
	cursor: pointer;
	transition: transform 0.5s, color 0.5s;
}

.add-one:hover {
	transform: scale(1.1);
	color: #fbbc04;
}

.note {
	overflow: hidden;
	overflow-wrap: break-word;
	height: 170px;
	width: 280px;
	border-radius: 10px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.upper-color {
	width: 100%;
	height: 4px;
}

.UI-note-title {
	font-weight: 500;
	font-size: 1.5rem;
	margin: 0 0.5rem;
	padding-bottom: 0.3rem;
	height: 35px;
	overflow: hidden !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-bottom: 1px solid #ccc;
}

.p-flex {
	display: flex;
	width: 100%;
	height: 76%;
}

p.content {
	width: 90%;
	margin: 0.7rem 0.3rem 0.7rem 0.5rem;
	overflow: hidden !important;
	color: #555;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.options {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 10%;
	align-items: center;
}

.fa-arrow-rotate-left,
.fa-trash-can,
.fa-eye {
	color: #333;
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
	transition: color 0.5s, transform 0.5s;
}

.fa-arrow-rotate-left:hover {
	color: #15db15;
	transform: scale(1.1);
}

.fa-trash-can:hover {
	color: #f00;
	transform: scale(1.1);
}

.fa-eye:hover {
	color: #fbbc04;
	transform: scale(1.1);
}

/* VIEW AND EDIT NOTE */

.view-edit {
	position: fixed;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	width: 300px;
	height: 470px;
	left: calc(50% - 150px);
	top: calc(50% - 235px);
	padding-block: 0;
	padding-inline: 2rem;
	background-color: #fff;
	border: 3px solid #fbbc04;
	border-radius: 15px;
}

.view-edit.nice-view {
	padding-inline: 1rem;
}

.view-edit.nice-view .form-view {
	padding-block: 1.5rem;
	justify-content: space-between;
	width: 100%;
}

.view-edit.nice-view .form-view #note-title-q-view {
	height: auto;
	font-size: 2rem;
	width: 100%;
	padding-inline: 0.5rem;
	padding-block: 0;
	padding-bottom: 0.1rem;
	border-radius: 0;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-top-color: transparent !important;
	border-bottom-color: #000 !important;
	border-bottom-width: 2px !important;
	overflow: hidden !important;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.view-edit.nice-view .form-view #note-text-view {
	height: auto;
	flex-grow: 1;
	border-radius: 0;
	font-size: 0.9rem;
	border-color: transparent !important;
}

.view-edit .form-view #note-text-view::-webkit-scrollbar {
	border-radius: 1rem;
	width: 0.6rem;
}

.view-edit .form-view #note-text-view::-webkit-scrollbar-button {
	height: 0.1rem;
	width: 0;
}

.view-edit .form-view #note-text-view::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 1rem;
	border: #fff 0.05rem solid;
}

.view-edit .form-view #note-text-view::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

.view-edit.nice-view .form-view .title-label {
	display: none;
}

.form-view {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.colors-view {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

#note-title-q-view {
	width: 100%;
	height: 30px;
	border-radius: 10px;
	border: none;
	border: 1px solid #aaa;
	font-size: 1rem;
	padding: 0 1rem;
	color: #555;
	margin-bottom: 0.5rem;
}

#hex-color-view {
	width: 100%;
	margin-top: 0.5rem;
	height: 30px;
	border: none;
	border: 1px solid #aaa;
	border-radius: 10px;
	text-align: center;
	font-size: 1rem;
	padding: 0 1rem;
	color: #555;
	margin-bottom: 0.6rem;
}

#note-text-view {
	width: 100%;
	resize: none;
	padding: 0.3rem;
	border-radius: 7px;
	color: #555;
	border: none;
	border: 1px solid #aaa;
}

.buttons-view,
.buttons-edit {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	margin-top: 0.5rem;
	gap: 2rem;
}

.color-view {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #000;
	cursor: pointer;
}

/* INPUT-PROMPT */
.back-thing,
.back-thing-delete,
.back-thing-view {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 3;
}

.color-preview-section {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.11rem;
	margin-top: 7px;
}

.color-preview {
	height: 25px;
	width: 25px;
	border: 1px solid #000;
	border-radius: 100px;
	background-color: transparent;
	margin-top: 5px;
}

.input-prompt {
	padding: 0 2rem;
	background-color: #fff;
	border: 3px solid #fbbc04;
	border-radius: 15px;
	position: fixed;
	width: 300px;
	height: 470px;
	left: calc(50% - 150px);
	top: calc(50% - 235px);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.prompt-title {
	text-align: center;
	margin-top: 0.5rem;
	font-weight: 400;
	color: #000;
	margin-bottom: 1rem;
}

.title-label {
	display: block;
}

#note-title-q {
	width: 100%;
	height: 30px;
	border-radius: 10px;
	border: none;
	border: 1px solid #aaa;
	font-size: 1rem;
	padding: 0 1rem;
	color: #555;
	margin-bottom: 0.5rem;
}

.colors {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.color {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #000;
	cursor: pointer;
}

#hex-color {
	width: 100%;
	margin-top: 0.5rem;
	height: 30px;
	border: none;
	border: 1px solid #aaa;
	border-radius: 10px;
	text-align: center;
	font-size: 1rem;
	padding: 0 1rem;
	color: #555;
	margin-bottom: 0.6rem;
}

.selected,
.color:hover,
.color-view:hover {
	border-width: 2px;
	transform: scale(1.2);
}

#note-text {
	width: 100%;
	resize: none;
	padding: 0.3rem;
	border-radius: 7px;
	color: #555;
	border: none;
	border: 1px solid #aaa;
}

.buttons {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	margin-top: 0.5rem;
	gap: 2rem;
}

.btn {
	width: 100%;
	height: 25px;
	font-weight: 500;
	border-radius: 7px;
	border: 1px solid #aaa;
	background-color: #fff;
	color: #555;
}

.btn:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: #333;
	cursor: pointer;
}

.submit-btn {
	grid-column: 2;
	grid-row: 1;
}

.cancel-btn {
	grid-column: 1;
	grid-row: 1;
}

.save-btn {
	grid-column: 2;
	grid-row: 1;
}

.cancel-edit-btn {
	grid-column: 1;
	grid-row: 1;
}

.back-btn {
	grid-column: 1;
	grid-row: 1;
}

.edit-btn {
	grid-column: 2;
	grid-row: 1;
}

/* DELETE PROMPT */
.delete-prompt {
	padding: 0 0.8rem;
	background-color: #fff;
	border: 3px solid #fbbc04;
	border-radius: 15px;
	position: fixed;
	width: 300px;
	height: 200px;
	left: calc(50% - 150px);
	top: calc(50% - 100px);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	display: flex;
}

.delete-prompt p {
	text-align: center;
}

.delete-prompt p:first-child {
	font-size: 1.1rem;
	color: #f00;
	text-decoration: underline;
}

.delete-prompt p span {
	font-weight: 600;
}

.delete-prompt-buttons {
	display: flex;
	gap: 2rem;
}

.delete-prompt-buttons > .btn {
	font-size: 1rem;
	height: auto;
	padding: 0.3rem;
	transition: background-color 0.5s, transform 0.5s;
}

.delete-prompt-buttons > .btn:first-child {
	background-color: #f00;
	color: #fff;
	border: none;
}

.delete-prompt-buttons > .btn:first-child:hover {
	background-color: #e70000;
	transform: scale(1.05);
}

.delete-prompt-buttons > .btn:last-child {
	background-color: #ccc;
	color: #fff;
	border: none;
}

.delete-prompt-buttons > .btn:last-child:hover {
	background-color: #bbb;
	transform: scale(1.05);
}

.animation {
	animation-name: animation;
	animation-timing-function: ease-in-out;
	animation-duration: 1.5s;
	z-index: 2;
}

.animation2 {
	animation-name: animation2;
	animation-timing-function: ease-in-out;
	animation-duration: 1.5s;
	z-index: 2;
}

@keyframes animation {
	100% {
		transform: scale(0.01);
	}
}

.delete-all-btn {
	display: none;
	position: absolute;
	top: -0.5rem;
	left: 50%;
	transform: translateX(-50%);
	border: 2px #e70000 solid;
	background-color: #fff;
	border-radius: 2rem;
	color: #e70000;
	font-weight: 700;
	padding: 0.25rem 1rem;
	cursor: pointer;
	transition: color 400ms, background-color 400ms, transform 400ms;
	z-index: 2;
}

.delete-all-btn:hover {
	color: #fff;
	background-color: #e70000;
	transform: translateX(-50%) scale(1.05);
}

.padding-2rem {
	padding-top: 2rem;
}

.notification {
	cursor: pointer;
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	border-top: #ddd solid 2px;
	border-left: #ddd solid 2px;
	border-right: #ddd solid 2px;
	border-radius: 0.5rem;
	padding: 0.75rem 1rem;
	background-color: #eee;
	overflow: hidden;
	transform: translateX(-150%);
	animation-name: slide-in;
	animation-duration: 750ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	animation-direction: normal;
	cursor: default;
}

.notification.slide-out {
	animation-name: slide-out;
	animation-play-state: running;
	animation-duration: 750ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	animation-direction: normal;
}

.notification > .top-half > button {
	border: none;
	background-color: transparent;
	color: #fbbc04;
	font-weight: 600;
	margin-left: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.notification > .top-half > button:hover {
	text-decoration: underline;
}

.notification > .timer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-top: 0.5rem;
	height: 3px;
	background-color: #fbbc04;
	animation: timer 10000ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	animation-play-state: running;
}

@keyframes timer {
	0% {
		width: 100%;
	}

	100% {
		width: 0%;
	}
}

@keyframes slide-in {
	0% {
		transform: translateX(-150%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-150%);
	}
}
