:root {
	--alertBoxBorder: #0f0;
	--alertBoxBackground: #88e788;
	--emailBorder: #000;
	--emailBackground: #fff;
	--passwordBorder: #000;
	--passwordBackground: #fff;
	--emailFontSize: 1rem;
	--passwordFontSize: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background: #9633ff;
	display: grid;
	place-content: center;
	height: 100vh;
	width: 100vw;
}

.container {
	background-color: #fff;
	width: min(95vw, 550px);
	height: min(95vh, 500px);
	display: grid;
	place-content: center;
	border-radius: 20px;
	box-shadow: 0 0 25px 20px #7820db;
}

.log-in {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	gap: 3rem;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: 2rem;
}

label {
	text-align: left;
	width: 100%;
	font-size: 1.1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

input {
	width: 100%;
	padding: 0.7rem 0.9rem;
	padding-left: 3rem;
	border-radius: 15px;
	margin-bottom: 1rem;
	position: relative;
	border: none !important;
	box-shadow: 0 0 20px 10px #6933ff44;
	color: #9633ff;
}

input::placeholder {
	color: #9633ff;
}

input::before {
	content: '\f152';
	width: 100%;
	height: 100%;
	position: absolute;
	font-family: 'Font Awesome\ 5 Free';
	top: 0;
	left: 0;
	color: #000;
	z-index: 100;
	font-weight: 900;
}

.password-div,
.name-div,
.email-div {
	position: relative;
}
/* 
i {
	position: absolute;
	left: 0;
	top: 0;
} */

.email-input {
	border: 1px solid var(--emailBorder);
	background-color: var(--emailBackground);
	font-size: var(--emailFontSize);
}

.password-input {
	border: 1px solid var(--passwordBorder);
	background-color: var(--passwordBackground);
	font-size: var(--passwordFontSize);
}

.btn {
	border-radius: 15px;
	width: 150px;
	height: 30px;
	font-size: 1rem;
	background-color: #bbb;
	border: 1px #000 solid;
	color: #000;
}

.btn:hover {
	cursor: pointer;
	background-color: #aaa;
}

.alertBox {
	background-color: var(--alertBoxBackground);
	border: 2px solid var(--alertBoxBorder);
	border-radius: 10px;
	text-align: center;
	font-size: 0.9rem;
	padding: 0.7rem 0.7rem;
	font-weight: 600;
	position: absolute;
	top: 0;
}

.cancel-btn {
	margin-top: 1rem;
	border-radius: 15px;
	width: 110px;
	height: 25px;
	font-size: 0.9rem;
	background-color: #bbb;
	border: 1px #000 solid;
	color: #000;
}

i {
	position: absolute;
	top: 0.7rem;
	right: 0.5rem;
	color: #000;
}
