*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-body {
	width: 100vw;
	height: 100vh;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 2000ms;
}

.show {
	opacity: 1;
	z-index: 1;
}

.image1 {
	background: url('./img/ales-krivec-4miBe6zg5r0-unsplash.jpg') no-repeat center
		center / cover;
	width: 100%;
	height: 100%;
}

.image2 {
	background: url('./img/ken-cheung-KonWFWUaAuk-unsplash.jpg') no-repeat center
		center / cover;
	width: 100%;
	height: 100%;
}

.image3 {
	background: url('./img/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg') no-repeat
		center center / cover;
	width: 100%;
	height: 100%;
}

.image4 {
	background: url('./img/robert-lukeman-_RBcxo9AU-U-unsplash.jpg') no-repeat
		center center / cover;
	width: 100%;
	height: 100%;
}

.image5 {
	background: url('./img/sean-oulashin-KMn4VEeEPR8-unsplash.jpg') no-repeat
		center center / cover;
	width: 100%;
	height: 100%;
}

.btn {
	font-size: 2rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	border-radius: 50%;
	padding: 0.5rem;
	line-height: 0;
	border: none;
	background: #ffffff77;
	color: #000;
	cursor: pointer;
	z-index: 2;
}

.prev-btn {
	left: 30px;
}

.next-btn {
	right: 30px;
}
